version: '3'
services:
  fastapi:
    #container_name: fastapi
    build:
      context: .
      dockerfile: ./fastapi-backend/Dockerfile
    ports:
      - 8000:8000
    volumes:
      - fastapi-vectordb:/vectordb
      - insightface-model:/insightface
    depends_on:
      - redis
  svelte:
    #container_name: svelte
    build:
      context: ./svelte-frontend
      dockerfile: ./svelte-frontend/Dockerfile
    ports:
      - 80:80
    depends_on:
      - fastapi
  redis:
    image: redis
    #container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
  mongo:
  #container_name: mongo
    image: mongo:7.0.4-jammy
    ports:
      - "27017:27017"
    volumes:
      - mongodb-data:/data/db

volumes:
  redis-data:
  mongodb-data:
  insightface-model:
  fastapi-vectordb:
