version: '3'
services:
  fastapi:
    #container_name: fastapi
    build:
      context: .
      dockerfile: ./fastapi-backend/Dockerfile.gpu    
    ports:
      - 8000:8000
    volumes:
      - fastapi-vectordb:/vectordb
      - insightface-model:/insightface
    depends_on:
      - redis
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
  svelte:
    #container_name: svelte
    build:
      context: ./svelte-frontend
      dockerfile: ./Dockerfile
    ports:
      - 80:80
    depends_on:
      - fastapi
  redis:
    image: redis
    #container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  redis-data:
  insightface-model:
  fastapi-vectordb:
